<style>
div   
{

color: black;
 

}
b   {
color: black;
font-family: verdana;
 font-size: 300%; 
 
}
h2   {
color: red;
font-family: verdana;
 font-size: 300%; 
 border-top: 1px solid white;
}

h1   
{

color: white;
 font-family: verdana;
  font-size: 300%; 
  border-top: 1px solid red;

}
</style>
